body {
  background-color: blanchedalmond;
  font-family: 'Chivo', sans-serif;
}
.twitter {
  text-align: center;
  font-size: large;
}
.email {
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.contact_icon_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 38%;
  margin-right: 50%;
  column-gap: 50px;
}

a:link {
  text-decoration: underline;
  color: #6f5b3e;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
  background-color: blanchedalmond;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  font-size: 100px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 70px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #6f5b3e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
