* {
  background-color: blanchedalmond;
  font-family: 'Chivo', sans-serif;
}
.intro {
  font-weight: 900;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 60px;
}
.aboutMe {
  font-weight: 100;
  margin-left: 5%;
  font-size: 30px;
  margin-right: 30%;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* first bar flips */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* second bar goes away */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.type {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 10px;
}
.type .anim{
  color: #5C4033;
}
